<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <style>
        .right2{
            display: none;
        }
    </style>
    <title>Pixie</title>
</head>
<body class="bg-white">
    <div class="flex h-[100vh]">

        <div class="left bg-purple-800 w-2/12 text-white">
            
            <button class='w-[90%] py-2 m-2 px-10 space-x-2 border-white border rounded-md flex mx-4 justify-center items-center hover:bg-purple-500'>
                <span>New Chat</span>
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-md"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.7929 2.79289C18.0118 1.57394 19.9882 1.57394 21.2071 2.79289C22.4261 4.01184 22.4261 5.98815 21.2071 7.20711L12.7071 15.7071C12.5196 15.8946 12.2652 16 12 16H9C8.44772 16 8 15.5523 8 15V12C8 11.7348 8.10536 11.4804 8.29289 11.2929L16.7929 2.79289ZM19.7929 4.20711C19.355 3.7692 18.645 3.7692 18.2071 4.2071L10 12.4142V14H11.5858L19.7929 5.79289C20.2308 5.35499 20.2308 4.64501 19.7929 4.20711ZM6 5C5.44772 5 5 5.44771 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V14C19 13.4477 19.4477 13 20 13C20.5523 13 21 13.4477 21 14V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34314 4.34315 3 6 3H10C10.5523 3 11 3.44771 11 4C11 4.55228 10.5523 5 10 5H6Z" fill="currentColor"></path></svg>
            </button>
            <div class="text-xs m-4 mx-8 text-gray-300">Today</div>
            <div class="chats flex flex-col justify-center items-center space-y-2">   
                
                {% for chat in myChats %} 
                <div class="chat space-x-2 opacity-80 w-[90%] px-5 py-2 rounded-md bg-purple-300 cursor-pointer flex justify-start items-center">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <span>{{chat.question}}</span>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="right1 bg-white w-10/12 text-purple-800 flex justify-center items-center flex-col">
                <div class="text-center w-full text-4xl font-semibold ">Pixie</div>
                <div class="text-center w-full text-3xl font-light">How May I help you?</div>
                <div class="input w-full text-center my-28 pl-16">
                    <input class=" w-[50%] p-3 bg-gray-300 rounded-md" placeholder="Where this time?" type='text' name="text" id="questionInput" >
                    <button id="sendButton" class=" relative -left-20 pl-10">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                        stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="3em" width="3em"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                    </button>
                    <div class="text-xs py-2 pr-11 opacity-70">Investment in travel is an investment in yourself.</div>
                </div>
            </div>
            <div class="right2 w-full flex flex-col items-center h-fit">
                <div class="box1 m-auto py-7 flex justify-start items-start w-[40vw] space-x-6">
                    <img class="w-9" src="https://lh3.googleusercontent.com/a/AAcHTtc3JyFMRTfPT7bfyiWdOSWYAvBNCVX-R9y09MnPLLzGyw=s96-c" alt="" >
                    <div id="question2">Loading...</div>
                </div>
                <div class="box2 bg-purple-100 py-7 flex justify-center items-start w-full space-x-6">
                    <div class="box w-[40vw] flex justify-start space-x-6">
                        <img class="w-9 h-10" src="https://cdn-icons-png.flaticon.com/512/5231/5231019.png" alt="" >
                        <div class="flex space-y-4 flex-col">
                            <div id="question1">Loading...</div>
                            <div id="solution">Loading...</div>
                        </div>
                    </div>  
                </div>
                <div class="input pt-72 mt-24 w-full text-center my-28 pl-16">
                    <div class="buttonsvg pl-16 w-[50vw] flex">
                        <input class="w-[50%] p-3 bg-gray-300 rounded-md" placeholder="Where this time?" type='text' name="text" id="" >
                        <button class="relative -left-20 pl-10">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="3em" width="3em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                        </button>
                    </div>

                </div>
            </div>
            
        </div>
        <script src="/static/js/script.js"></script>
</body>
</html>